///// COLORS

$orange1:	#ce8811; 

$brown1:	#EAE7DC;
$brown2:	#B0AAA0;
$brown3:	#715C4F;

///////////////////////////////////////////////////// RESETS

body {background-color:#FBFBF5; font-family:georgia,serif;

	box-shadow:inset 0px 0px 10px rgba(0,0,0,.3);
}



///////////////////////////////////////////////////// TYPE 
h1, h2, h3, h4, h5	{font-family:helvetica,arial,sans-serif; margin-bottom:em(4px);}





p 		{}
.title {color:$orange1; margin-bottom:20px;}

.className  {font-style: italic; font-weight:bold; color:$blue1; border-bottom:1px dotted $brown2; padding-bottom:3px;}

.subheader {font-style:italic;}
/////////////////////////////////////////////////// NAVIGATION


.main-nav  {margin-bottom:0px;
	.logo  {margin-bottom:0px;}
	li     {padding:5px 0px; font-size:em(16px);

		a {color:$orange1; font-weight:bold; font-size:14px;
			&:hover {text-decoration:underline;}
		}
	}

}


/////////////////////////////////////////////////// CONTENT SECTIONS

.section-content {border-bottom:solid 1px $brown1; margin-bottom:20px;}
#content 	{padding-top:80px;}
.underline {padding-bottom:25px; margin-bottom:25px; border-bottom:dashed 3px $brown1; color:$brown3;}


//GRID SHOWCASE
.showcase {background:$brown1; text-align:center; font-size:11px; padding:15px 0;}
.grid-show{
		.row {margin-bottom:10px;

			:nth-child(even) {background: $brown2;}

		}
}

.col-show{
		.row {margin-bottom:10px;}
}

.seeCode	{;}
.coder 		{padding:20px; background:$brown1; margin-top:20px;}
pre  		{background:#f6f7fa; text-align: left; margin-bottom:40px; border:solid 1px red;}




//FOOTER
footer {
	margin-top:40px; padding-top:40px; text-align:center;

	p {font-size:em(13px);}
}




// MEDIA QUERIES
@media screen and (max-width:800px){
	#content {padding-top:20px;}
	
	.main-nav  {

		li {display:block;
			a{padding:0 10px; }
		}
		
	}

	.coder {}
	.grid-show,.col-show{ padding:0;
		.row {margin-bottom:0px;}
	}

	.mobile-nav {
		li {text-align: center;}
	}


}//end of media 800px
