/* ---------- TYPE ---------- */
/*--------------------------------------------------*/


// Font classes
.rale-thin {font-family:'raleway-thin',Helvetica,Arial,sans-serif; text-transform: uppercase;}
.got-book {font-family:'gotham-book',Helvetica,Arial,sans-serif; text-transform: uppercase;}
.font-awesome {font-family:fontAwesome;}
.voll {font-family: 'Vollkorn', serif;}
.open-sans {font-family: 'Open Sans', sans-serif;}
.georgia {font-family:"Georgia","times New Roman", sans-serif;}

//style mods
.amp 	{font-family: 'Abril Fatface', cursive;}//ampersand